html{
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
	flex: 1 0 auto;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo__img{
	width: 20%;
	padding: 2%;
}
nav, .page-footer{
	background-color: #0277bd;
}

.counter-list{
	counter-reset: counter_list;

}
.collection-item{
	counter-increment: collection-item;
}
.collection-item::before{
	content: counter(collection-item) '. ';
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
	visibility: hidden;
	width: 10em;
	background-color: #0288d1;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	margin-left: -20em;
	line-height: 1.5em;
  /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;

}
/*.page-footer .footer-copyright{
	background-color: #0288d1;
}*/